* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100px;
    width: 100px;
    display: block;
    padding-top: 100px;
}  

.image-display {
    width: 50px;
    height: 80px;
    margin: 10vh 25vw;
    background-color: #f0f0f0;
    padding: 0px;
    border: 1px solid #fff;
}

.image-display img {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 0px;
}

.image-display button {
    width: 50vw;
    height: 5vh;
    background-image: linear-gradient(to right, #4CAF50, #8BC34A);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.image-display button:hover {
    background-image: linear-gradient(to right, #3e8e41, #66c34a);
}
